<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste formas de pagamento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="../static/css/styles.css" rel="stylesheet">

   
</head>

<body>

    <a href="#" data-toggle="modal" data-target="#formasPagamento" >
        <button> Clique aqui </button>
    </a>

    <!-- Modal Selecionar forma de pagamento -->
    <div class="modal fade" id="formasPagamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Forma de Pagamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="formGroupExampleInput">Selecione a forma de Pagamento</label>
                    <select name="cCargo" id="pagamento" class="form-control" style="height: 47px; margin-top: 2px;"
                        required>
                        <option name="pagamento" id="" class="form-control" value=""></option>
                        <option name="pagamento" class="form-control" id="dinheiro" value="din">Dinheiro
                        </option>
                        <option name="pagamento" class="form-control" id="debito" value="deb">Cartão de Debito
                        </option>
                        <option name="pagamento" class="form-control" id="credito" value="cred">Cartão de Crédito
                        </option>
                        <option name="pagamento" class="form-control" id="mesclado" value="mesc">Meio a Meio</option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                    <a class="btn btn-primary" id='confirmaCompra' data-dismiss="modal" data-toggle="modal">CONFIRMAR</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cartão de Debito -->
    <div class="modal fade" id="modalDebito" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Forma de Pagamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="formGroupExampleInput" style="text-align: center;">Ensira o Cartão de Débito na maquininha</label>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                    <button type="button" class="btn btn-primary" id='btnInfo'>CONFIRMAR</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cartão de Crédito -->
    <div class="modal fade" id="modalCredito" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Forma de Pagamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="formGroupExampleInput" style="text-align: center;">Ensira o Cartão de Crédito na maquininha</label>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
                    <button type="button" class="btn btn-primary" id='btnInfo'>CONFIRMAR</button>
                </div>
            </div>
        </div>
    </div>

    
    <!-- <script src="../static/js/TestaPag.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <script src="../static/js/app.js"></script>
</body>

</html>