<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Produto</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="../static/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class='container' id='corpo'>
            <div class="col-1">
                <div class="sidenav">
                    <a href="#about"><img src="../static/img/pasta.png" alt="side_bar" width="30" height="30"></a>
                </div>
            </div>


            <div class="main">
                <div class="row"> <img src="../static/img/logo.png" alt=""></div>
                
                <div class="row mt-5">
                    <!-- <div class="col mt-3 clientProduct"> -->




                        <div class="d-flex col-sm" id="wrapper" >
                            <div class="col-7 bg-light border-right mt-2" id="sidebar-wrapper">
                                <div class="sidebar-heading"></div>
                                    <div class="list-group list-group-flush">
                                        <a href="#" class="list-group-item list-group-item-action bg-light">1x LAXANTE - PALMOLIVE R$ 29,87 </a>
                                        <a href="#" class="list-group-item list-group-item-action bg-light"> </a>
                                        <a href="#" class="list-group-item list-group-item-action bg-light"> </a>





                                        <!-- LETRAS EM CIMA DOS BOTÕES -->
                                        <div class="card-deck ml-4">
                                            <div class="ml-1">
                                                <strong>QTD ITEM</strong>
                                            </div>

                                            <div class=" ml-5">
                                                <strong>QTD ITEM</strong>
                                            </div>

                                            <div class="ml-5">
                                                <strong>QTD ITEM</strong>
                                            </div>
                                        </div>

                                        <!-- LABEL COM OS PREÇO > CREIO QUE VAI TER QUE SER BOTÃO POR CAUSA DO VALUE RECEBIDO -->
                                        <div class="card-deck">
                                            <div class="card">
                                                <strong></strong>
                                            </div>

                                            <div class="card">
                                                <label>0,00</label>
                                            </div>

                                            <div class="card">
                                                <label></label>
                                            </div>
                                        </div>
                                        
                                    </div>
                            </div>
            
                            <!-- BODY DO LADO -->
                            <div class="container mt-2 ml-1" style="background-color: white;">
                                <div class="col-12 ">
                                    <label for="codProduto" >CÓDIGO DO PRODUTO</label>
                                    
                                    <input type="text" class="form-control" id="codProduto" >
                                    
                                    

                                    <div class="ml mt-5">
                                        <label >Operador:  </label>

                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalPagamento">CANCELAR</button>

                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalPagamento">CONFIRMAR</button>
    


                                       
                                    
                                        <input type="text" class="form-control" id="codProduto" placeholder="CPF" readonly>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    
                        
                        <ul class="card-deck" >
                            <li class="card" style="background-color: white;" >QTD Item </li>
                            <li class="card" style="background-color: white;" >Desconto</li>
                            <li class="card" style="background-color: white;" >Total</li>
                        </ul>

                        <div class="card-deck">
                            <div class=card>
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id=""> </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class=card>
                                
                                <div class="input-group input-group-lg">
                                    
                                    <div class="input-group-prepend">
                                        
                                        <span class="input-group-text" id="">Large</span>
                                    </div>
                                </div>
                            </div>

                            <div class=card>
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">Large</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                         teste 

                        <div class="card-deck">
                            <div class=card>
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id=""> </span>
                                    </div>
                                </div>
                            </div>
                        <div>
                        
                        -->

                    <!--</div>  final da div client Product-->
                </div>
            </div>
        </div>
    </body>
</html>